<%= link_to 'Edit Profile', edit_user_registration_path %> <br />

Name: <%= @user.first_name %> <%= @user.last_name %> <br />
Username: <%= @user.username %> <br />
Email: <%= @user.email %> <br />

<p>Profile Picture:</p>

<%= image_tag(@user.avatar.medium) %>

<br />

<%= link_to 'Back', root_path %>
