<div class="profile-wrapper">
  <h2>Log in to your account</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <!-- <%= f.label :email %><br /> -->
      <i class="material-icons" id="log-in-icons">email</i>
      <%= f.email_field :email, autofocus: true, placeholder: "E-mail", value: "Guest@Account.com" %>
    </div>

    <div class="field">
      <!-- <%= f.label :password %><br /> -->
      <i class="material-icons" id="log-in-icons">vpn_key</i>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", value: 1234567 %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, :class => "remember-me-box" %>
        <%= f.label :remember_me, :class => "remember-me-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "log-in-button"  %>
    </div>
  <% end %>

  <div class="shared-links">
  <%= render "devise/shared/links" %>
  </div>

</div>
