<!DOCTYPE html>
<html>
  <head>
    <title>Bite Up</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "normalize" %>
  </head>

  <body>

    <div class="main-header">
      <a href='/'><h1>EAT UP</h1></a>
    </div>

    <nav>
      <ul>
        <% if user_signed_in? %>
          <%= link_to 'Profile', current_user %>
          <%= link_to 'Create a group', "/groups/new" %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Register', new_user_registration_path %>
          <%= link_to 'Log In', new_user_session_path %>
        <% end %>
      </ul>
    </nav>

      <% if flash %>
        <% flash.each do |key, value| %>
          <div class="success-error-messege">
            <p><%= value %></p>
          </div>
        <% end %>
      <% end %>


    <%= yield %>
  </body>
</html>
