<!DOCTYPE html>
<html>
  <head>
    <title>Bite Up</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_V74R4zGTdA3CQh5dOFUGrPDuB5zVEV8&libraries=places"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "normalize" %>
  </head>

  <body>

    <header>
        <a href='/'><h1 id="logo">EAT UP</h1></a>

      <nav id="nav-bar">

          <% if user_signed_in? %>
            <%= link_to current_user, :class => "text-nav", :id => "nav-profile-pic" do %>
              <%= image_tag(current_user.avatar.thumb) %>
            <% end %>
            <!-- <%= link_to 'Invite', new_user_invitation_path, :class => "text-nav" %> -->
            <%= link_to current_user, :id => "material-icons-nav" do %>
              <i class="material-icons">account_box</i>
            <% end %>

            <%= link_to 'Create a group', "/groups/new", :class => "text-nav" %>
            <%= link_to "/groups/new", :id => "material-icons-nav" do %>
              <i class="material-icons">add_circle_outline</i>
            <% end %>

            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "text-nav" %>
            <%= link_to destroy_user_session_path, method: :delete, :id => "material-icons-nav" do %>
              <i class="material-icons">block</i>
            <% end %>
          <% else %>
            <%= link_to 'Register', new_user_registration_path, :class => "text-nav styled-nav" %>
            <%= link_to 'Log In', new_user_session_path, :class => "text-nav" %>

          <% end %>

      </nav>
    </header>

      <% if flash %>
        <% flash.each do |key, value| %>
          <div class="success-error-messege">
            <p><%= value %></p>
          </div>
        <% end %>
      <% end %>

    <%= yield %>


  </body>
</html>
